// @import url('https://fonts.googleapis.com/css?family=Rubik:300,400,700');
@import url('https://fonts.googleapis.com/css?family=Oxygen:300,700&subset=latin-ext');

$bodyBgColor: #bdbdbd;
$accentColor: #e7caa9;
// $accentColor: indianred;
// $textColor: #e7caa9;
$textColor: #ddd;
// $textColorAccent: #1e2f2c;
$textColorAccent: #212f2c;
$fontFamily: 'Oxygen', sans-serif;
$letterSp1: 0.025em;

@mixin linx ($link, $visit, $hover, $active) {
	a {
		color: $link;
		transition: color 0.2s;
		&:visited {
			color: $visit;
		}
		&:hover {
			color: $hover;
		}
		&:active {
			color: $active;
		}
	}
}
